.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}
.w-50 {
	width: 50%;
}
.h-50 {
	height: 50%;
}
.w-30 {
	width: 300px;
}
.h-30 {
	height: 300px;
}
.w-50 {
	width: 500px;
}
.h-50 {
	height: 500px;
}
